.icon-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.14);
        transition: transform 0.1s ease-out;
    }

    &__icon {
        position: relative;
        z-index: 10;
        width: 20px;
        height: 20px;
        fill: $white;
    }

    &:focus,
    &:hover {
        &::after {
            transform: translate(-50%, -50%) scale(1);

            @media screen and (max-width: $sm) {
                transform: translate(-50%, -50%) scale(0);
            }
        }
    }
}
